<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<main class="centered">
    <h1><%= product.title %></h1>
    <hr>
    <div class="card__image">
        <img src="/<%= product.imageurl %>"  alt="">
    </div>
    <h2>$<%= product.price %></h2>
    <p><%= product.desc %> </p>

    <%- include('../partials/add-to-cart-btn') %>

</main>

<%- include('../partials/end') %>